@page
@model MiniBicks.Pages.Conge.ValideOrRefuseCongeModel
@using MiniBicks.Entities.Enum;
@using MiniBicks.Helpers.Enum;
@using System.Linq;
@{
    ViewData["Title"] = "ValideOrRefuse";
    double DureeRestant = Math.Round(Model.ListeDureeConge.Where(dc => dc.TypeCongeEnum == Model.Conge.TypeCongeEnum).FirstOrDefault().Duree - Model.Conge.User.ListeConge.Where(c => c.TypeCongeEnum == Model.Conge.TypeCongeEnum && c.ValiditeEnum == ValiditeEnum.Valide).Sum(c => (c.DateFin - c.DateDebut).TotalDays), MidpointRounding.AwayFromZero);
    double DureeRestantApresValidation = Math.Round(DureeRestant - Model.Conge.DureeDuConge, MidpointRounding.AwayFromZero);
    var ListEnumCongeValidite = Enum.GetValues(typeof(ValiditeEnum)).Cast<ValiditeEnum>();
}

<h2>Validation du congé</h2>

<form method="post">
    <input asp-for="Conge.ID_User" type="hidden" />
    <input asp-for="Conge.ID_Conge" type="hidden" />
    <input asp-for="Conge.DateDebut" type="hidden" />
    <input asp-for="Conge.DateFin" type="hidden" />
    <input asp-for="Conge.TypeCongeEnum" type="hidden" />
    <input asp-for="Conge.ID_DureeConge" type="hidden" />

    <p>Date de début @Model.Conge.DateDebut.ToShortDateString()</p>
    <p>Date de fin @Model.Conge.DateFin.ToShortDateString()</p>
    <p>Type de congé @Model.Conge.TypeCongeEnum</p>
    <br />
    <label asp-for="Conge.ValiditeEnum"></label>
    <select asp-for="Conge.ValiditeEnum" asp-items="ListEnumCongeValidite.Select(lecv => new SelectListItem() { 
                                                                                            Text = ValidatiEnumHelper.GetFriendlyEnum(lecv),
                                                                                            Value = (string)lecv.GetType().GetEnumName(lecv), 
                                                                                            Disabled = (lecv==ValiditeEnum.Valide && (DureeRestant <= 0 || DureeRestantApresValidation <= 0))})">
    </select>

    <input type="submit" value="Enregistrer"><br />
    @if (DureeRestant <= 0 || DureeRestantApresValidation <= 0)
    {
        <small>/!\ Validation impossible, solde insuffisant</small>
    }

</form>

