@page
@model MiniBicks.Pages.User.AddModel
@using MiniBicks.Entities;
@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<form method="post">
    <input asp-for="User.Nom" /><br />
    <input asp-for="User.Prenom" />
    <input asp-for="Adresse.NumeroRue" />
    <input asp-for="User.Prenom" />
    <input asp-for="User.Prenom" />
    <input asp-for="User.Prenom" />
    <input asp-for="User.Prenom" />
    <input asp-for="User.Prenom" />
    <input asp-for="User.Prenom" />
    <input asp-for="User.Prenom" />
    <input type="submit" />
</form>