@page
@model MiniBicks.Pages.Frais.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Frais</h1>
<a asp-page="/Frais/Add">Ajouter une fiche de frais</a><br />
<a asp-page="/Frais/ToRefund">Fiches à rembourser</a><br />
<a asp-page="/Frais/Stat">Statistiques</a><br />

