@page
@using Helpers.Enum
@model MiniBicks.Pages.Frais.ToRefundModel
@{
    ViewData["Title"] = "ToRefund";
}

<h1>Demandes de remboursement </h1>
<table>
    <thead>
        <tr>
            <th>Personne</th>
            <th>Type de frais</th>
            <th>Etat de la demande</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Entities.Frai frais in Model.ListeFrais)
        {
            <tr>
                <td>@frais.User.NomPrenom</td>
                <td>@(FraisEnumHelper.GetFriendlyEnum(frais.FraiEnum))</td>
                <td>@(ValidatiEnumHelper.GetFriendlyEnum(frais.ValidateEnum))</td>
                <td><a asp-page="/Frais/ValidateOrRefuse" asp-route-idFrai="@frais.ID_Frai">Manager</a></td>
            </tr>
        }
    </tbody>
</table>

