@page
@using Helpers.Enum
@using Entities.Enum
@model MiniBicks.Pages.Frais.ValidateOrRefuseModel
@{
    ViewData["Title"] = "ValidateOrRefuse";
    List<string> ListEnumFraisValidite = Enum.GetNames(typeof(ValiditeEnum)).ToList();
}

<h1>Validation</h1>
<form method="post">
    <input asp-for="Frais.ID_Frai" type="hidden"/>
    <input asp-for="Frais.ID_User" type="hidden" />
    <input asp-for="Frais.MontantTTC" type="hidden" />
    <input asp-for="Frais.FraisKilometrique" type="hidden"/>
    <input asp-for="Frais.TVA" type="hidden" />
    <input asp-for="Frais.FraiEnum" type="hidden" />
    <input asp-for="Frais.DateDeFrais" type="hidden" />

    <p>Date de la demande : @Model.Frais.DateDeFrais</p>
    <p>Total des frais : @string.Format("{0:C2}",Model.Frais.TotalFrais)</p>
    <p>Type de frais : @(new FraisEnumHelper().GetFriendlyEnum(Model.Frais.FraiEnum))</p>
    <select asp-for="Frais.ValidateEnum" asp-items="ListEnumFraisValidite.Select(lefv => new SelectListItem() { Text = lefv, Value = lefv})"></select>
    <input type="submit" />
</form>

